.git
.gitignore
.env
.env.*
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
public/build
public/storage
.DS_Store
npm-debug.log
.yarn-error.log
